@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap");

h1{
  /* animation-name: typing;
  animation-duration: 3s;
  animation-timing-function: steps(14); */
  animation: typing 3s steps(14),
             blinking 0.7s steps(1) infinite;
}


@keyframes typing{
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinking {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #CE2D4F;
    }
}

h2 {
  font-size: 10rem;
  font-family: "Fira Sans", sans-serif;
  color: #DCF2B0;
  text-shadow: 3px 3px 0px #59C3C3;

  animation-name: scaleIn;
  animation-duration: 2s;
  animation-fill-mode: backwards;
}

body {
  padding-top: 5em;
  background: #cfcfcf;
  display: flex;
  justify-content: center; 
}