.bot {
  width:100px;
  offset-path: path('m228,312c159,-75 185,-89 164,-145c-21,-56 -106,-56 -106,-56c0,0 -86,-2 -82,46c4,48 134,105 134,105c0,0 51,20 158,12c107,-8 164,-14 164,-14');
  /* offset-path: path('M.542,219.99c540.71,0,477.005-218.911,277.995-218.37S7.081,219.99,539.573,219.99'); */
  /* offset-rotate: auto 30deg; */
  animation: fly 8s cubic-bezier(.22, 0, .76, 1) both;
}

@keyframes fly {
  0% {
    offset-distence: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

/* other styles */
.wrap {
  width:800px;
}


body {
  margin:8em 0 0 0;
  background:#433f55;
  display: flex;
  justify-content: center; 
}